.header {
  background-image: url("/assets/img/dresden-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: grid;
  height: 70vh;
  text-align: center;
  vertical-align: middle;

  .logo-title {
    margin-top: 60px;

    h1 {
      font-size: 3em;
    }

    .social-links {
      a {
        color: #fff;
        font-size: 1.7em;
        padding: 10px;

        &:hover {
          color: rgba(255,0,0,0.7);
        }
      }
    }
  }
}
