@import "src/assets/styles/_queries";

.header {
  background-image: url("/assets/img/dresden-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 9em 0;

  .logo-title {

    .title-links {
      background-color: rgba(0,0,0,.5);
      border-radius: 10px;
      padding: 0 1.3em;

      @include mobile {
        border-radius: 0;
      }

      h1 {
        font-size: 3em;

        @include mobile {
          font-size: 2.5em;
        }
      }

      .social-links {
        a {
          color: #fff;
          font-size: 1.7em;
          padding: 10px;

          &:hover {
            color: rgba(255,0,0,0.7);
          }
        }
      }
    }
  }

  @include mobile {
    padding: 3em 0;
  }

  @include tablet {
    padding: 7em 0;
  }

  @include laptop {
    padding: 7em 0;
  }
}
