<section class="container">
  <section>
    <app-header></app-header>
  </section>
  <section>
    <app-description></app-description>
  </section>
  <section>
    <p>Dies ist die Webseite für das Angular Meetup in Dresden. Hier werden anstehende Events und weitere nützliche Informationen veröffetnlicht.</p>
    <p>An dieser Webseite wird gerade gebaut.</p>
    <p>Besuchen Sie die Angular Meetup Dresden Gruppe in folgenden Sozialen Netzwerken:</p>
    <app-social-media [light]="false"
                      [big]="true"
                      [center]="true"></app-social-media>
  </section>
  <section>
    <app-footer></app-footer>
  </section>
</section>
