@import "src/assets/styles/_queries";

.description {
  text-align: center;
  display: grid;
  justify-items: center;
  margin: 0 auto 2em auto;
  width: 70%;

  h2 {
    font-size: 2.5em;

    @include mobile {
      font-size: 1.7em;
    }
  }

  p {
    font-size: 1.5em;

    @include mobile {
      font-size: 1.3em;
    }
  }

  @include mobile {
    width: 90%;
  }
}

.promotion-block {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'promo-image-left promo-text-right'
    'promo-text-left promo-image-right';
  grid-column-gap: 3em;
  justify-items: center;
  margin-bottom: 2em;

  .promotion-image {

    &.promotion-image-left {
      grid-area: promo-image-left;
    }

    &.promotion-image-right {
      grid-area: promo-image-right;
    }

    &:first-child {
      justify-self: right;

      @include mobile {
        justify-self: auto;
      }

      @include tablet {
        justify-self: auto;
      }
    }

    &:last-child {
      justify-self: left;

      @include mobile {
        justify-self: auto;
      }

      @include tablet {
        justify-self: auto;
      }
    }

    img {
      border-radius: 10px;

      @include mobile {
        width: 360px;
      }

      @include laptop {
        width: 580px;
      }
    }
  }

  .promotion-text {
    width: 70%;
    grid-area: promo-text;

    &.promotion-text-left {
      grid-area: promo-text-left;
    }

    &.promotion-text-right {
      grid-area: promo-text-right;
    }

    &:first-child {
      justify-self: right;

      @include mobile {
        justify-self: auto;
      }

      @include tablet {
        justify-self: auto;
      }
    }

    &:last-child {
      justify-self: left;

      @include mobile {
        justify-self: auto;
      }

      @include tablet {
        justify-self: auto;
      }
    }

    h2 {
      font-size: 2.5em;

      @include mobile {
        font-size: 1.7em;
      }

      @include laptop {
        font-size: 2em;
      }
    }

    p {
      font-size: 1.5em;

      @include mobile {
        font-size: 1.3em;
      }

      @include laptop {
        font-size: 1.3em;
      }
    }

    .red {
      color: rgba(255,0,0,0.7);
    }

    .mat-raised-button.mat-primary {
      background-color: #000;
      font-size: 0.7em;
      padding: 0.5em 1em;

      &:hover {
        background-color: red;
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      'promo-image-left'
      'promo-text-right'
      'promo-image-right'
      'promo-text-left';
    grid-column-gap: 0;
  }

  @include tablet {
    grid-template-columns: 1fr;
    grid-template-areas:
      'promo-image-left'
      'promo-text-right'
      'promo-image-right'
      'promo-text-left';
    grid-column-gap: 0;
  }

  @include laptop {
    margin: 2em;
  }
}
