<div class="description">
  <h2>Was ist Angular Meetup Dresden?</h2>
  <p>
    Angular Meetup Dresden ist eine Gruppe für alle, die ihre Ideen mit dem Angular Framework bereits realisieren oder
    realisieren wollen. Hier dreht sich alles um Angular, Angular CLI, Angular Labs und Typescript.
  </p>
</div>
<div class="promotion-block">
  <div class="promotion-image">
    <img src="/assets/img/meetup-discussion.jpg"
         alt="People are duscussing"
         width="680px">
  </div>
  <div class="promotion-text">
    <h2>
      <span class="red">Lerne andere Angular-Fans</span> und tausche dich mit ihnen aus.
    </h2>
    <p>
      Softwareentwickler, Webentwickler, Studenten diskutieren über Neuigkeiten aus der Angular-Welt oder suchen nach
      Lösungen für ein Problem.
    </p>
    <p>
      <a mat-raised-button
         color="primary"
         href="https://www.meetup.com/de-DE/Angular-Meetup-Dresden/"
         target="_blank">Meetup-Gruppe beitreten</a>
    </p>
  </div>
</div>
<div class="promotion-block">
  <div class="promotion-text">
    <h2>
      <span class="red">Teile dein Wissen</span> und lerne was neues.
    </h2>
    <p>
      Unsere großartige Sprecher machen jeden Meetup durch ihre Vorträge zu unterschiedlichen Themen lehrreich.
    </p>
    <p>
      Du brennst für ein Thema? Dann erzähle es anderen.
    </p>
    <p>
      <a mat-raised-button
         color="primary"
         href="mailto:g.doroschenko@gmail.com"
         target="_blank">Vortrag einreichen</a>
    </p>
  </div>
  <div class="promotion-image">
    <img src="/assets/img/meetup-speaker.jpg"
         alt="Boy is talking to people"
         width="680px">
  </div>
</div>
<div class="promotion-block">
  <div class="promotion-image">
    <img src="/assets/img/meetup-guest.jpg"
         alt="Boy is discussing"
         width="680px">
  </div>
  <div class="promotion-text">
    <h2>
      <span class="red">Komm vorbei</span> und mach mit.
    </h2>
    <p>Bei uns ist jeder willkommen, egal ob Anfänger oder erfahrener Entwickler. Jeder ist herzlich eingeladen eigene
      Themen vorzustellen oder Ideen und Gedanken zur Diskussion zu bringen. Alle unsere Treffen sind kostenlos und
      keiner verdurstet bei uns.</p>
    <app-social-media [light]="false"
                      [big]="true"
                      [center]="false"></app-social-media>
  </div>
</div>
<div class="promotion-block">
  <div class="promotion-text">
    <h2>
      <span class="red">Bock auf Coding?</span> Kein Problem, lass es uns wissen.
    </h2>
    <p>
      Damit du dich nicht einsam beim Programmieren füllst, können wir auf Anfrage einen zusätzlichen Coding-Termin
      organisieren.
    </p>
    <p>
      <a mat-raised-button
         color="primary"
         href="mailto:g.doroschenko@gmail.com"
         target="_blank">Orga-Team kontaktieren</a>
    </p>
  </div>
  <div class="promotion-image">
    <img src="/assets/img/meetup-code.jpg"
         alt="Notice with code"
         width="680px">
  </div>
</div>
