<div class="social-links"
     [class.light]="light"
     [class.dark]="!light"
     [class.big-size]="big"
     [class.medium-size]="!big"
     [class.text-center]="center">
  <a href="https://www.meetup.com/de-DE/Angular-Meetup-Dresden/" target="_blank">
    <i class="fab fa-meetup"></i>
  </a>
  <a href="https://twitter.com/ngDresden" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://www.linkedin.com/groups/8687817/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://www.xing.com/communities/groups/angular-dresden-1106619" target="_blank">
    <i class="fab fa-xing"></i>
  </a>
</div>
